/* @import url('https://fonts.googleapis.com/css?family=Lato:300|Raleway:100'); */
a {
    text-decoration: none;
}

a, a:active, a:focus, button, button:active. button:focus {
   outline: 0;
}

button {
    font-family: Calibri !important;
}

footer {
    padding-top: 16px;
    border-top: solid #C08D42;
}

html, body {
    font-family: Calibri;
}

h1, h2, h3, h4, h5 {
    font-family: Calibri !important;
    font-weight: bold;
    text-transform: uppercase;
}

.light-text {
    font-weight: 100;
}

@media (max-width: 600px) {
    h1 {
        font-size: 36px !important;
    }
    h2 {
        font-size: 26px !important;
    }
    h3 {
        font-size: 24px !important;
    }
    .profile-text {
        margin-left: 0px !important;
        margin-top: 16px;
    }
    #contact-link-about {
        padding-top: 93vh !important;
    }
    .om-oss-text {
        top: 70% !important;
    }
    .small-center {
        text-align: center !important;
    }
}

@media (max-width: 615px) {
    #navbar-img {
        margin-left: 0em !important;
    }
    #navbar-button {
        margin-right: 0em !important;
    }
    .slideshowText {
        margin-bottom: 9% !important;
    }
}

@media (min-width: 600px) {
    #about-1 p {
        padding-left: 32px;
    }
    #about-2 p {
        padding-right: 32px;
    }
    .hortizontal-center {
        margin-left: 16.6666%;
    }
    .translatey-50 {
        transform: translateY(50%);
    }
    .translatey-40 {
        transform: translateY(40%);
    }
    .translatey-30 {
        transform: translateY(30%);
    }
    .translatey-20 {
        transform: translateY(20%);
    }
    .translatey-10 {
        transform: translateY(10%);
    }
    .padding-top-100 {
        padding-top: 100px !important;
    }
    .margin-right-7em {
        margin-right: 7em;
    }

}

@media (min-width: 670px) {
    .hidden-description {
        width:300px;
        display:none;
        opacity: 0;
    }

    .scroll-item:hover .hidden-description {
        display: inline-block;
        opacity: 1;
    }

    .scroll-item:hover {
        width: 600px;
    }

}

@media (max-width: 350px) {

}

@media (min-width: 500px) {
    .hide-min-500 {
        display: none;
    }
}

@media (max-width: 499px) {
    .hide-max-500 {
        display: none;
    }
}

@media (min-width:992px) {
}

.horizontal-scroll {
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    text-align: center;
}

.width-300 {
    width: 300px;
}

.menu-bar1, .menu-bar2, .menu-bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-change .menu-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

.menu-change .menu-bar2 {opacity: 0;}

.menu-change .menu-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.menu-container {
    display: inline-block;
    cursor: pointer;
}

.width-25-percent {
    width: 25% !important;
}

.scroll-item {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
    transition: width 0.2s;
    height: 460px;
}

@media (max-width:600px) {
    .hidden-description {
        display: none;
    }

    .scroll-item:hover .hidden-description {

    }

    .scroll-item:hover {}
}

li {
    display: list-item;
    margin-top: 0.5em;
}

ul {
    display: block;
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
    list-style-type: circle;
}

body, html {
    line-height: 1.8;
    background-color: white;
}

.radio {
    cursor: pointer;
    color: #d2d2d2;
}

input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

label {
    line-height: 3;
}

label:hover .radio {
    color: #000;
}

label input:checked~.radio {
    color: #640507;
}

.slideshowText {
    padding: 16px;
    padding-left: 20%;
    margin-bottom: 5%;
    background-color: #c08d42;
}

.slideshowText:hover {
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
}

.text-underline {
    text-decoration: underline !important;
}

.text-align-right {
    text-align: right;
}

.padding-top-32 {
    padding-top: 32px;
}

.padding-top-1em {
    padding-top: 1em !important;
}

.padding-left-100 {
    padding-left: 100px;
}

.padding-bottom-16 {
    padding-bottom: 16px;
}

.hover-shadow:hover {
    -webkit-box-shadow: 0px 0px 34px -11px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 34px -11px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 34px -11px rgba(0,0,0,0.45);
}

.width-12em {
    width: 12em;
}

.white-space-normal {
    white-space: normal;
}

.quote {
    font-style: italic;
}

.quote:before {
    content: open-quote;
}

.quote:after {
    content: close-quote;
}

.quote-source {
    padding-left: 7em;
}

.quote-source:before {
    content: "–";
    margin-right: 0.1em;
}

.margin-right-1em {
    margin-right: 1em;
}

.narrow-content {
    max-width: 840px;
    margin: auto;
}

.line-height-1 {
    line-height: 1;
}

.line-height-3 {
    line-height: 3;
}

.height-100 {
    height: 100%;
}

.height-27em {
    height: 27em;
}

.hover-white-bg:hover {
    background-color: white;
}

.hover-golden-text:hover {
    color: #bca53c;
}

.width-100 {
    width: 100%;
}

#kontaktRespons {}

#handwritten {
    font-family: Caveat-Regular;
    font-size: 57px;
    line-height: normal;
    color: #640507;
}

/* Create a Parallax Effect */

.parallax-img {
    min-width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

.small-parallax {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

.slideshow {
    min-height: 75vh;
}

.mySlides {
    position: absolute;
    min-height: 100%;
}

/* First image (Full height) */

.bgimg-1 {background-image: url("../img/elever/christian-kamera.jpg");}
.bgimg-2 {background-image: url("../img/jenterpeker.jpg");}
.bgimg-3 {background-image: url("../img/dressmann.jpg");}
.bgimg-4 {background-image: url("../img/gladefolk.jpg");}
.bgimg-5 {background-image: url("../img/elever/editor.jpg");}

.mobile-large {
    font-size: 36px;
}

@media (max-width:600px) {
    .bgimg-1 {background-image: url("../img/elever/christian-kamera-mob.jpg")!important;}
    .bgimg-2 {background-image: url("../img/jenterpeker-mob.jpg")!important;}
    .bgimg-3 {background-image: url("../img/dressmann-mob.jpg")!important;}
    .bgimg-4 {background-image: url("../img/gladefolk-mob.jpg")!important;}
    .padding-left-100 {
        padding-left: inherit !important;
    }
    .mobile-large {
        font-size: 20px;
    }
}

.bgimg-happyface {
    min-height: 400px;
    background-image: url("../img/happyface.jpg");
}

.bgimg-nrk {
    min-height: 400px;
    background-image: url("../img/nrk_christian_eirik.jpg");
}

.bgimg-nrk-anniken {
    min-height: 100%;
    background-image: url("../img/NRK-anniken.jpg");
}

.bgimg-christian {
    min-height: 400px;
    background-image: url("../img/elever/christian.jpg");
}
#profiler {
    margin-top: 3em;
}

.profile-arrow {
    position: absolute;
    z-index: -1;
    width: 75px;
    height: 75px;
    margin-top: 50px;
    margin-left: 20px;
    transform: rotate(45deg);
}

.profile-text {
    margin-left: 30px;
}

.profile-quote {
    font-style: italic;
}

.profile-link {
    font-size: 13px;
    font-style: italic;
    letter-spacing: 1.5px;
    color: #640507;
    border-bottom: #555 2px solid;
}

.profile-link:hover {
    font-size: 13px;
    font-style: italic;
    letter-spacing: 1.5px;
    color: #684848;
    border-bottom: #dabdbd 2px solid;
}

.profile-icon {
    margin-left: -2px;
    vertical-align: -3px;
}

.w3-hover-opacity {
    cursor: pointer;
}
.om-oss-text {
    color: white;
    background-color: #640507;
}

.om-oss-text h1 {
    color: white;
    text-align: left;
}

.about-text {
    margin-top: 100px;
}

#about-video {
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.videoWrapper {
    position: relative;
    padding-bottom: 45%;
    /* 16:9 */
    padding-top: 0px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#id01 {
    padding-top: 1%;
}

#navbar {
    height: 100px;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
}

#navbar-button {
    margin-right: 2em;

}

#navbar-img {
    margin: -5px;
    margin-left: 2em;
}

.golden-text {
    color: #C08D42;
}

.golden-border {
    border-color: #C08D42;
    border-style: solid;
    border-width: thin;
}

.golden-bg {
    background-color: #C08D42;
}

.white-border {
    border-color: #fff;
    border-style: solid;
    border-width: thin;
}

.black-text {
    color: #000;
}

.black-bg-opac-57 {
    background-color: rgba(0, 0, 0, 0.57) !important;
}

.black-bg-opac-80 {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.white-bg {
    background-color: #FFF !important;
}

.black-bg {
    background-color: #000 !important;
}

.white-button, .golden-button, .black-button, .black-transparent-button {
    border:none;
    display:inline-block;
    outline:0;padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

.white-button {
    background-color:white;
    color: #000;
}

.white-button:hover {
    background-color: #aaa;
}

.white-button#navbar-button:hover {
    background-color: inherit;
}

.golden-button {
    color: white;
    background-color: #C08D42;
}

.golden-button:hover {
    color: #bca53c;
    background-color: white;
}

.black-button {
    color: #fff;
    background-color: #000;
}

.black-button:hover {
    color: #000;
    background-color: #fff;
}

.black-transparent-button {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.0);
}

.black-transparent-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.header-text {
    font-weight: 100;
    line-height: 2;
}

.white-text {
    color: white;
}

.hover-grey-text:hover {
    color: #ccc;
}

.transparent-background {
    background: inherit;
}

.remove-borders {
    border: none !important;
}

.remove-padding {
    padding: 0 !important;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-100 {
    margin-top: 100px !important;
}

.z-index-2 {
    z-index: 2 !important;
}

.z-index-3 {
    z-index: 3 !important;
}

#navbar-dropdown {
    z-index: 1;
    position: fixed;
}

.golden-accent-bottom:hover{
    border-bottom-color: #c08d42;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.golden-transparent-bg {
    background-color: #C08D4299;
}

#personvern-instillinger {
    margin-top: 3em;
}

#contact-link-about {
    padding-top: 90vh;
    text-align: right;
    padding-right: 2em;
}

/* Caveat-Regular */
@font-face {
    font-family: "Caveat-Regular";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Caveat-Regular.ttf);
}

/* Caveat-Bold */
@font-face {
    font-family: "Caveat-Bold";
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/Caveat-Bold.ttf);
}

/* Gotham Black */
@font-face {
    font-family: "Gotham-Black";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Gotham-Black.otf);
}

/* Gotham */
@font-face {
    font-family: "Gotham";
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/Gotham-Bold.ttf);
}

@font-face {
    font-family: "Gotham";
    font-weight: 100;
    font-style: normal;
    src: url(../fonts/GothamRounded-Light.otf);
}

/* Gotham-Book */
@font-face {
    font-family: "Gotham-Book";
    font-weight: 100;
    font-style: normal;
    src: url(../fonts/GothamCondensed-Light.otf);
}

/* Calibri */
@font-face {
    font-family: "Calibri";
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Calibri.ttf);
}

@font-face {
    font-family: "Calibri";
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/Calibri-Bold.ttf);
}

@font-face {
    font-family: "Calibri";
    font-weight: normal;
    font-style: italic;
    src: url(../fonts/Calibri-Italic.ttf);
}

@font-face {
    font-family: "Calibri";
    font-weight: bold;
    font-style: italic;
    src: url(../fonts/Calibri-Bold-Italic.ttf);
}
