a {
    text-decoration: none;
}

#hva h5 {
    font-size: 18px;
    margin-left: 25px;
    margin-bottom: -8px;
    text-align: left;
}

li {
    margin-top: 0.5em;
    display: list-item;
}

ul {
    display: block;
    list-style-type: circle;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

body, html {
    height: 100%;
    line-height: 1.8;
}

.w3-theme-text-red {
    color: #ba0a0d !important;
}

.slideshowHeader {
    color: inherit;
    text-align: left;
    line-height: 1.2;
    margin: 0;
}

.slideshowText {
    padding: 16px;
    background-color: #640507;
    max-width: 70%;
    color: #fff;
    position: absolute;
    bottom: 10%;
    padding-left: 20%;
}

.slideshowText-mobile {
    padding: 4px;
    background-color: RGBA(100, 5, 7, 0.7);
    width: 83%;
    color: #fff;
    position: absolute;
    bottom: 60px;
}

.slideshowText:hover {
    background-color: rgba(255,255,255,0.7);
    color: #640507;
}

.slideshowText-mobile:hover {
    background-color: rgba(255,255,255,0.7);
    color: #640507;
}

.navbar-accent {
    border-bottom-color: #640507;
    border-bottom-style: solid;
}

#navbar-mobile {
    background: none;
}

#smallnav {
    width: 150px;
    float: right;
    min-height: 100vh;
}

#kontaktRespons {
    padding-top: 20.4%;
    padding-bottom: 20.4%;
}

#kontaktHeader {
    margin-bottom: -16px;
}

#handwritten{
    font-size: 57px;
    font-family: Caveat-Regular;
    line-height: normal;
    color: #640507;
}

/* Create a Parallax Effect */

.parallax-img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vw;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-music-night, .bgimg-nrk{

}

.slideshow {
    min-height: 100vh;
}

.slideshow-mobile {
    min-width: 100vw;
    min-height: 25%;
    margin-bottom: 90%;
}

.mySlides {
    min-height: 100%;
    position: absolute;
}

.mySlides-mobile {
    position: absolute;
}

.mobile-1, .mobile-2, .mobile-3, .mobile-4 {
    animation-name: fade;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    opacity: 0;
    visibility: hidden;
}

.mobile-2 {
    animation-delay: 10s;
}

.mobile-3 {
    animation-delay: 20s;
}

.mobile-4 {
    animation-delay: 30s;
}

.mySlides-mobile > img {
    width: 130%;
    margin-left: -8%;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    animation-name: fade;
    animation-duration: 32s;
    animation-iteration-count: infinite;
    opacity: 0;
    visibility: hidden;
}

/* First image (Full height) */
.bgimg-1 {
    background-image: url('../img/jenterpeker.jpg');
}

.bgimg-2 {
    background-image: url('../img/dressmann.jpg');
    animation-delay: 8s;
}

.bgimg-3 {
    background-image: url('../img/barcode.jpg');
    animation-delay: 16s;
}
.bgimg-4 {
    background-image: url('../img/gladefolk.jpg');
    animation-delay: 24s;
}


@keyframes fade {
    0% { visibility: visible; opacity: 0; }
    5% { visibility: visible; opacity: 1; }
    25% { visibility: visible; opacity: 1}
    30% { visibility: hidden; opacity: 0}
    100% { visibility: hidden;  opacity: 0}
}

/* Second image (styret) */
.bgimg-music-night {
    background-image: url("../img/music_night_greyscale.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-nrk {
    background-image: url("../img/nrk_christian_eirik.jpg");
    min-height: 400px;
}

.bgimg-nrk-anniken {
    background-image: url("../img/NRK-anniken.jpg");
    min-height: 400px;
}

.extra-margin{
    margin-bottom: 80px;
}

.big-icon {
    font-size: 32px;
}

.profile-arrow {
    height: 75px;
    width: 75px;
    transform: rotate(45deg);
    margin-top: 50px;
    z-index: -1;
    margin-left: 12px;
    position: absolute;
}

.profile-text{
    margin-left: 30px;
    margin-top: 0px !important;
}

.profile-quote {
    font-style: italic;
}

.profile-link{
    border-bottom: #555 2px solid;
    letter-spacing: 1.5px;
    font-style: italic;
    font-size: 13px;
    color: #640507;
}

.profile-link:hover{
    border-bottom: #dabdbd 2px solid;
    letter-spacing: 1.5px;
    font-style: italic;
    font-size: 13px;
    color: #684848;
}

.profile-icon{
    margin-left: 1px;
    display: inline-block;
    vertical-align: 2px;
    width: 60px;
}

textarea{
    background-image: url("../img/logo.jpg"); /* This ruins default border */
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 80px 80px;
    background-position: bottom right;
    border: 1px solid #888;
}

.w3-hover-opacity {cursor: pointer;}

.driver-med-slides-headers {
    margin-bottom: -5px;
}

.driver-med-slides ul {
    padding-left: 0px;
}

#driver-med-slideshow {
    height: 575px;
    position: relative;
}

#driver-med-slideshow li {
    font-size: 17px;
}

#driver-med-img-1, #driver-med-img-2, #driver-med-img-3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    width: 500px;
    height: 500px;
}

#driver-med-img-1 {
    background-image: url(../img/animation/driver_med_1.jpg);
}

#driver-med-img-2 {
    background-image: url(../img/animation/driver_med_2.jpg);
}

#driver-med-img-3 {
    background-image: url(../img/animation/driver_med_3.jpg);
}

.driver-med-slide-2, .driver-med-slide-3 {
    /*position: absolute;*/
    display: none;
}

#slideshow-bubble-1, #slideshow-bubble-2, #slideshow-bubble-3 {
    cursor: pointer;
}

@media only screen and (max-width: 1250px) {
    .hide-narrow {
        display: none;
    }
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* optima */
@font-face {
    font-family: 'Optima';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/OptimaNovaLT-Medium.otf);
}

/* Caveat-Regular */
@font-face {
    font-family: 'Caveat-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Caveat-Regular.ttf);
}

/* Caveat-Bold */
@font-face {
    font-family: 'Caveat-Bold';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Caveat-Bold.ttf);
}
