a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

footer {
    padding-top: 16px;
    border-top: solid #640507;
}

@media (max-width: 600px) {
    h1 {
        font-size: 36px!important;
    }
    h2 {
        font-size: 30px!important;
    }
    h3 {
        font-size: 24px!important;
    }
    #navbar-img {
        margin-left: 0em!important;
    }
    .profile-text {
        margin-left: 0px!important;
        margin-top: 16px;
    }

}

@media (min-width: 600px) {
    #about-1 p {
        padding-left: 32px;
    }

    #about-2 p {
        padding-right: 32px;
    }
}

@media (max-width:992px) {

}

#hva h5 {
    font-size: 18px;
    margin-bottom: -8px;
    margin-left: 25px;
    text-align: left;
}

li {
    display: list-item;
    margin-top: 0.5em;
}

ul {
    display: block;
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
    list-style-type: circle;
}

body, html {
    line-height: 1.8;
    height: 100%;
}

.radio {
    cursor: pointer;
    color: #d2d2d2;
}

input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

label {
    line-height: 3;
}

label:hover .radio {
    color: #000;
}

label input:checked ~ .radio {
    color: #640507;
}

.w3-theme-text-red {
    color: #ba0a0d !important;
}

.red-background {
    background: #640507 !important;
}

.red-text {
    color: #640507 !important;
}

.slideshowHeader {
    line-height: 1.2;
    margin: 0;
    text-align: left;
    color: inherit;
}

.slideshowText {
    position: absolute;
    bottom: 10%;
    /*max-width: 70%;*/
    padding: 16px;
    padding-left: 20%;
    color: #fff;
    background-color: #640507;
}

.slideshowText-mobile {
    position: absolute;
    bottom: 60px;
    width: 83%;
    padding: 4px;
    color: #fff;
    background-color: RGBA(100, 5, 7, 0.7);
}

.slideshowText:hover {
    color: #640507;
    background-color: rgba(255, 255, 255, 0.7);
}

.slideshowText-mobile:hover {
    color: #640507;
    background-color: rgba(255, 255, 255, 0.7);
}

.navbar-accent {
    border-bottom-style: solid;
    border-bottom-color: #640507;
}

#navbar-mobile {
    background: none;
}

#smallnav {
    float: right;
    width: 150px;
    min-height: 100vh;
}

#kontaktRespons {

}


#handwritten {
    font-family: Caveat-Regular;
    font-size: 57px;
    line-height: normal;
    color: #640507;
}

/* Create a Parallax Effect */

.parallax-img {
    min-width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.slideshow {
    min-height: 100vh;
}

.slideshow-mobile {
    min-width: 100vw;
    min-height: 25%;
    margin-bottom: 90%;
}

.mySlides {
    position: absolute;
    min-height: 100%;
}

.mySlides-mobile {
    position: absolute;
}

.mobile-1, .mobile-2, .mobile-3, .mobile-4 {
    visibility: hidden;
    animation-name: fade;
    animation-duration: 32s;
    animation-iteration-count: infinite;
    opacity: 0;
}

.mobile-2 {
    animation-delay: 8s;
}

.mobile-3 {
    animation-delay: 16s;
}

.mobile-4 {
    animation-delay: 24s;
}

.mySlides-mobile>img {
    width: 130%;
    margin-left: -8%;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    visibility: hidden;
    animation-name: fade;
    animation-duration: 32s;
    animation-iteration-count: infinite;
    opacity: 0;
}

/* First image (Full height) */

.bgimg-1 {background-image: url("../img/jenterpeker.jpg");}
.bgimg-2 {animation-delay: 8s;background-image: url("../img/dressmann.jpg");}
.bgimg-3 {animation-delay: 16s;background-image: url("../img/barcode.jpg");}
.bgimg-4 {animation-delay: 24s;background-image: url("../img/gladefolk.jpg");}

@media (max-width:600px) {
    .bgimg-1 {background-image: url("../img/jenterpeker-mob.jpg")!important;}
    .bgimg-2 {background-image: url("../img/dressmann-mob.jpg")!important;}
    .bgimg-3{background-image: url("../img/barcode-mob.jpg")!important;}
    .bgimg-4 {background-image: url("../img/gladefolk-mob.jpg")!important;}
}

@keyframes fade {
    0% {
        visibility: visible;
        opacity: 0;
    }
    5% {
        visibility: visible;
        opacity: 1;
    }
    25% {
        visibility: visible;
        opacity: 1;
    }
    30% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

#partner-div {
    margin-top: 100px;
}

/* Second image (styret) */

.bgimg-music-night {
    min-height: 400px;
    background-image: url("../img/music_night_greyscale.jpg");
}

/* Third image (Contact) */

.bgimg-nrk {
    min-height: 400px;
    background-image: url("../img/nrk_christian_eirik.jpg");
}

.bgimg-nrk-anniken {
    min-height: 100%;
    background-image: url("../img/NRK-anniken.jpg");
}

.extra-margin {
    margin-bottom: 80px;
}

#profiler {
    margin-top: 3em;
}

.profile-arrow {
    position: absolute;
    z-index: -1;
    width: 75px;
    height: 75px;
    margin-top: 50px;
    margin-left: 20px;
    transform: rotate(45deg);
}

.profile-text {
    margin-left: 30px;
}

.profile-quote {
    font-style: italic;
}

.profile-link {
    font-size: 13px;
    font-style: italic;
    letter-spacing: 1.5px;
    color: #640507;
    border-bottom: #555 2px solid;
}

.profile-link:hover {
    font-size: 13px;
    font-style: italic;
    letter-spacing: 1.5px;
    color: #684848;
    border-bottom: #dabdbd 2px solid;
}

.profile-icon {
    margin-left: -2px;
    vertical-align: -3px;
}

textarea {
    border: 1px solid #888;
    background-color: transparent;
    background-image: url("../img/logo.jpg");
    /* This ruins default border */
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 80px 80px;
}

.w3-hover-opacity {
    cursor: pointer;
}

.driver-med-slides-headers {
    margin-bottom: -5px;
}

.driver-med-slides ul {
    padding-left: 0;
}

#driver-med-slideshow {
    position: relative;
    height: 575px;
}

#driver-med-slideshow li {
    font-size: 17px;
}

.driver-med-forklaring {
    height: 100%;
}

.driver-med-slide-2, .driver-med-slide-3 {
    display: none;
}

#slideshow-bubble-1, #slideshow-bubble-2, #slideshow-bubble-3 {
    cursor: pointer;
}

.om-oss-text {
    color: white;
    background-color: #640507;
}

.om-oss-text h1 {
    color: white;
    text-align: left;
}

.about-text {
    margin-top: 100px;
}

/**/

#about-video {
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.videoWrapper {
	position: relative;
	padding-bottom: 45%; /* 16:9 */
	padding-top: 0px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#id01 {
    padding-top: 1%;
}


#navbar-button {
    padding-right: 3em;
    line-height: 3.5em;
    padding-left: 4em;
}

#navbar-img {
    margin: -32px;
    margin-left: 2em;
}

.header-text {
    font-weight: 100;
    line-height: 2;
}

.red-button {
    background-color: #640507;
    color: white;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.red-button:hover {
    background-color: white!important;
    color: #640507!important;
}

#navbar {
    background-color: RGBA(255,255,255,0.8);
}

#navbar-dropdown {
    background-color: #640507;
    color: white;
}

#personvern-instillinger {
    margin-top: 3em;
}

/* latin-ext */

@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v14/UyBMtLsHKBKXelqf4x7VRQ.woff2) format("woff2");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* optima */

@font-face {
    font-family: "Optima";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/OptimaNovaLT-Medium.otf);
}

/* Caveat-Regular */

@font-face {
    font-family: "Caveat-Regular";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Caveat-Regular.ttf);
}

/* Caveat-Bold */

@font-face {
    font-family: "Caveat-Bold";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Caveat-Bold.ttf);
}
