.page6{
    background-color: #111224;
}

.page6 .row{
    padding-top: 17.5vh;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

.page6 .row a,
.page6 .row button{
    color: #C38F43;
    background: none;
    border: none;
}